body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#logo{
    width: 70px;
}
h1 {
    margin-bottom: 20px;
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #03095a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1500b3;
    transition: 0.5s ease-in-out;
}

p {
    margin-top: 10px;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
